package wtstat

// import "strings"

const {{NAME}}Domain = "{{DOMAIN}}"


func {{NAME}}Handler(line Entry) {

    domain := line.Field(Domain)
	tag := ""

	//
	// the filter instructions start below
	//



	//
	// create the prometheus metric
	//
	IncrementQualifiedEventCounter( domain , tag)

	return
}
